@tailwind base;
@tailwind components;
@tailwind utilities;
/* يحرك سهم Select لليسار في الاتجاه العربي */
[dir="rtl"] .absolute.top-2\/4.right-2.pt-px.w-5.h-5 {
  right: auto !important;
  left: 0.5rem !important; /* نفس قيمة right-2 تقريبا */
}
/* استهداف الـ span اللي جوه الزرار بتاع الـ Select */
button[role="combobox"] > span {
  right: 0.75rem !important; /* يعادل right-3 في Tailwind */
  left: auto !important;
  text-align: right !important;
  direction: rtl !important;
  color: black;
}
